.footer {
    min-height: 252px;
    background-color: #2a2a2a;
}

.footer__wrapper {
    text-align: center;
    
}
.footer__img {
    padding-top: 62px;
}
.footer__nav {
    padding-top: 22px;
    padding-bottom: 35px;
    ul {
        display: flex;
        justify-content: center;
    }
    a {
        text-decoration: none;
        color: #ffffff;
        font-size: 20px;
        padding-right: 16px;
        &::last-child {
            padding-right: 0;
        }
        &:hover {
            text-decoration: underline;
        }
    }
}

.copyrite {
    color: #8f8f8f;
    font-size: 20px;

}